 <h1>Book was successfully created.</h1>
 <% @books.each do |book| %>
   <p><strong>Title:</strong></p>
   <span><%= book.title %></span>
   <p><strong>Body:</strong></p>
   <span><%= book.body %></span>
   <span>
    <%= link_to 'show', book_path(book.id) %>
   </span>
 <% end %>
